<body>
<!-- MAIN -->
<div role="main" id="main">
  <div class="wrapper">
    <!-- page-content -->
    <div class="page-content">
      <!-- entry-content -->
      <div class="entry-content cf">
       
  		<h4 class="heading">KEY SKILLS</h4>	
  		<p>Proficient or familiar with a vast array of programming languages, concepts and technologies, including:</p>
  		<div class="one-third">
  			Automated Testing: Selenium, Watir</br>
  			Bugzilla, Trac </br>
  			Agile Strategies</br>	
  	    </div>
  		<div class="one-third">
  			Functional Testing Strategies</br>
  			Cross Browser Testing</br>
  			Mobile Testing Strategies</br>
  		</div>
  		<div class="one-third last">
  			SQL Server, MySQL</br>
  			Windows, Mac & Linux</br>
  			Ruby on Rails</br>
  		</div>   
		<div class="clearfix"></div>
		<h4 class="heading">WORK EXPERIENCE</h4>
		<p>Quality Assurance Engineer 		                    December 2012 – Present</br>
		NCSA ATHLETIC RECRUITING, Chicago, IL</br>
			Lead the assuring of quality on all products in a vast array of testing strategies, including; black box, functional, end-to-end, regression, acceptance, mobile, data, usability and performance testing</br>
			Created and maintained a regression test suite utilizing selenium for ruby on rails and controlled with git and continuous integration</br>
			Ran the weekly project planning and retrospective meetings held with all VP’s of the company; as well as tracked and reported on all agile metrics</br>
			Acted as project manager for an 8-month project that affected 100+ business users; working closely with business users to determine requirements</br>
			Actively participated in software pointing, planning, retrospective, and scrum meetings; recommending and identifying development, data, and future testing strategies</br></p>
		<p>Jr. Quality Assurance Engineer 		          October 2011 – December 2012</br>
		NCSA ATHLETIC RECRUITING, Chicago, IL</br>
			Performed manual tests on various applications developed in Java and Ruby on Rails</br>
			Maintained and added to the bug backlog using the bug tracking software Bugzilla</br>
			Experienced a large amount of integration testing with third parties, including; Salesforce, BrainTree, Quickbooks, Payments Gateway, Amazon, Youtube, Ooyala, and more</br></p>
		<p>Application Support Specialist                                 February 2011 – October 2011</br> 
			NCSA ATHLETIC RECRUITING, Chicago, IL</br>
			Managed the support center, which was the point of first contact between the 300 business users and the software development team. This entailed defect research, report writing, defect resolution, data fixing, and other support related issues.</br>
			Created numerous reports daily with sql server and exported them to excel or to our NCSA wiki, which was created with Confluence Atlassian.</br>
			Resolved defects in our code base, working with jsps and servlets, java, ajax, hibernate and more, in a combination struts and spring atmosphere, while utilizing SpringSource Tool Suite and Git source control.</br></p>
		<p>Software Development Intern 		         September 2010 – February 2011</br>
		NCSA ATHLETIC RECRUITING, Chicago, IL</br></p>
		<div class="clearfix"></div>
		
		<h4 class="heading">EDUCATION</h4> 	
		<p>THE UNIVERSITY OF IOWA – Iowa City, IA 					  May 2010 
		B.A. Informatics</p>					
		<p>THE UNIVERSITY OF NEW SOUTH WALES – Sydney, Australia		          Summer 2009</p>
		<div class="clearfix"></div>
		
		<h4 class="heading">HOBBIES</h4> 	 	
		<p>Learning new technologies;  Developing new websites for personal use;  Partaking in meet ups and learning seminars</p>

      </div>
      <!-- ENDS entry-content -->
      <div class="c-1"></div>
      <div class="c-2"></div>
      <div class="c-3"></div>
      <div class="c-4"></div>
    </div>
    <!-- ENDS page-content -->
  </div>
</div>
<!-- ENDS MAIN -->
</body>