<body>
<!-- MAIN -->
<div role="main" id="main">
  <div class="wrapper">
    <!-- page-content -->
    <div class="page-content portfolio-content">
      <!-- entry-content -->
      <div class="entry-content cf">
        <!-- SLIDER -->
        <div class="slider-wrapper theme-default">
          <div class="ribbon"></div>
          <div id="slider-project" class="nivoSlider"> <img src="/assets/dummies/slides/01.jpg" alt=""> <img src="assets/dummies/slides/02.jpg" alt=""> <img src="/assets/dummies/slides/03.jpg" alt=""> </div>
        </div>
        <!-- ENDS SLIDER -->
        <h2>SINITIX</h2>
        <!-- project content -->
        <div class="project-content">
          <p>Website to maintain and sell tickets for the Chicago Cubs, White Sox and Bulls. </p>
        </div>
        <!-- ENDS project content -->
        <!-- project info -->
        <div class="project-info">
          <p><strong>Created</strong>March 2012</p>
          <p><a href="http://www.sinitix.com" target="_blank">Sinitix</a></p>
        </div>
        <!-- ENDS project info -->
      </div>
	 
      <!-- ENDS entry-content -->
      <div class="c-1"></div>
      <div class="c-2"></div>
      <div class="c-3"></div>
      <div class="c-4"></div>
    </div>
	
<!-- Second website -->
	
    <div class="page-content portfolio-content">
      <!-- entry-content -->
      <div class="entry-content cf">
        <!-- SLIDER -->
        <div class="slider-wrapper theme-default">
          <div class="ribbon"></div>
          <div id="slider-project" class="nivoSlider"> <img src="/assets/dummies/slides/01.jpg" alt=""> <img src="assets/dummies/slides/02.jpg" alt=""> <img src="/assets/dummies/slides/03.jpg" alt=""> </div>
        </div>
        <!-- ENDS SLIDER -->
        <h2>WORLD BEER</h2>
        <!-- project content -->
        <div class="project-content">
          <p>Application built to track a challenge to drink 100 of the <a href ="http://www.worldbeercup.org/" target="_blank">World Beer Cup</a> gold medal winning beers since 2000.  </p>
        </div>
        <!-- ENDS project content -->
        <!-- project info -->
        <div class="project-info">
          <p><strong>Created</strong>November 2012</p>
          <p><a href="http://www.worldbeer.herokuapp.com">World Beer</a></p>
        </div>
        <!-- ENDS project info -->
      </div>
	 
      <!-- ENDS entry-content -->
      <div class="c-1"></div>
      <div class="c-2"></div>
      <div class="c-3"></div>
      <div class="c-4"></div>
    </div>
	
    <!-- ENDS page-content -->
    <!-- related -->
    <!-- ENDS related -->
  </div>
</div>
<!-- ENDS MAIN -->
</body>
